* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #e5e5e5;
}

header {
  background-color: #e5e5e5;
  /* height: 847px; */
  padding-inline: 200px;
  padding-block: 20px;
}

.logo-account {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.user {
  /* margin-left: auto; */
  display: flex;
  gap: 20px;
}

nav ul li {
  list-style-type: none;
  cursor: pointer;
}

nav {
  padding: 20px;
}

nav ul {
  display: flex;
  gap: 25px;
  justify-content: space-evenly;
}

.hero {
  display: flex;
  gap: 25px;
  padding-inline: 200px;
  width: 100%;
  background-color: #e5e5e5;
  align-items: center;
  padding-block: 40px;
  margin-top: 80px;
}

.hero-text {
  width: 50%;
  padding: 40px;
}

.hero-text h1 {
  font-size: 55px;
}

.hero-text p {
  font-size: 30px;
  line-height: 55px;
}

.hero-img {
  width: 50%;
}

.hero-img-con img {
  width: 50%;
  padding-right: 20px;
  padding-bottom: 20px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 100px 0px;
}

.brands {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  margin-top: 70px;
}

.hero-button {
  background-color: #1e2832;
  width: 223px;
  height: 72px;
  font-size: larger;
  color: white;
  margin-top: 50px;
  cursor: pointer;
}

.hero-button:hover {
  background-color: white;
  color: #1e2832;
  transition: all 1s;
}

.account {
  display: flex;
  gap: 10px;
  align-items: center;
}

.shopping {
  display: flex;
  gap: 10px;
  align-items: center;
}

.section-one {
  background-color: white;
  height: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.first-style {
  width: 50%;
  height: 100%;
}

.first-style img {
  width: 100%;
}

.popular-styles {
  display: flex;
  width: 70%;
  gap: 20px;
  height: auto;
  margin-top: 50px;
}

.other-styles {
  width: 50%;
  display: grid;
  row-gap: 20px;
  height: 100%;
  column-gap: 20px;
  grid-template-columns: auto auto;
}

.other-styles img {
  height: 100%;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  max-height: 100%;
  aspect-ratio: 6/9;
}

.vertical-text {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical-text h1 {
  writing-mode: vertical-rl;
  letter-spacing: 30px;
  text-wrap: nowrap;
  transform: rotate(180deg);
  text-align: center;
  height: 100%;
  height: fit-content;
  letter-spacing: 9px;
}

.newsletter {
  margin-top: 80px;
}

.newsletter h1 {
  text-align: center;
  font-size: 50px;
  margin-top: 15px;
}

.categories ul {
  display: flex;
  gap: 10px;
  padding: 20px;
  width: 80%;
}

.categories ul li {
  list-style-type: none;
  font-size: 20px;
}

.categories {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.product {
  width: 20%;
}

.price-category {
  display: flex;
  align-items: center;
}

.price {
  margin-left: auto;
}

.product-description {
  padding: 5px;
}

.products {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.categories button {
  background-color: #1e2832;
  color: white;
  width: 83px;
  height: 35px;
  font-size: 13px;
  padding: 5px;
}

.zara img {
  position: absolute;
  top: 0;
}

.zara {
  background-image: url(./zara.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  padding: 0;
  margin-inline: 0;
  align-items: center;
  flex-direction: row-reverse;
  position: relative;
  width: 100%;
}

.zara-text {
  padding: 30px;
  width: 50%;
  color: white;
  padding-right: 287px;
}

.zara-text h1 {
  font-size: 45px;
}

.zara-text p {
  line-height: 25px;
}

.zara-text button {
  margin-top: 35px;
  width: 165px;
  height: 45px;
  font-size: 15px;
}

.best-sellers h1 {
  text-align: center;
  font-size: 53px;
}

.best-sellers {
  margin-top: 80px;
}

.link-to-social {
  padding-block: 70px;
  background-color: rgba(255, 111, 97, 0.05);
}

.link-to-social h1 {
  font-size: 40px;
}

.insta-images {
  padding-block: 40px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.newsletter-sub form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.newsletter-sub form input {
  padding-left: 10px;
  width: 30%;
  height: 30px;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
}

.newsletter-sub form button {
  width: 5%;
  background-color: transparent;
  border-top: none;
  border-left: none;
  cursor: pointer;
  border-right: none;
}

footer {
  background-color: white;
  padding-top: 50px;
  padding-inline: 20px;
}

.footer-section-one {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.footer-section-one-text {
  text-align: left;
  line-height: 25px;
}

.socials {
  display: flex;
  gap: 55px;
  margin-top: 20px;
}
